@charset "utf-8";

.contenedor{
	width: 500px;
	height: 200px;
	background: #fff;
	padding: 10px;
	border: 10px solid #2C3E;
	margin: 10px;
	
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
	flex-wrap: wrap;
	justify-content: center;


}

.elemento{
	flex-grow: 1;
	color:#fff;
	margin: 8px;
    background-color: #E67E22;
	text-align: center;
	height: 50px;
	width: 200px;

}


.elemento2 {
	flex-grow: 5;
}
